<div class="user__card">
  <div class="card__avatar">
    <div class="card__img">
      <img
        *ngIf="data.gender == gender.MALE"
        src="assets/images/avatar_male.png"
        alt="avatar"
      />
      <img
        *ngIf="data.gender == gender.FEMALE"
        src="assets/images/avatar_female.jpg"
        alt="avatar"
      />
    </div>
  </div>
  <div class="card__content">
    <div class="card__name">{{ data.name }}</div>
    <div class="card__account">
      <i>( {{ data.account }} )</i>
    </div>
    <div class="card__date">{{ toDobDisplay(data.dob) }}</div>
    <div class="card__email">{{ data.email }}</div>
    <div class="card__gender">
      {{ data.gender === gender.MALE ? "Nam" : "Nữ" }}
    </div>
    <div class="card__address">{{ data.address }}</div>
    <div class="card__actions">
      <button mat-button color="primary" (click)="toEdit(data.id)">Edit</button>
      <button mat-button color="warn" (click)="toRemove(data.id)">
        Delete
      </button>
    </div>
  </div>
</div>
