<div class="user__card">
  <div class="card__avatar">
    <div class="card__img">
      <img
        *ngIf="data.student.gender == gender.MALE"
        src="assets/images/avatar_male.png"
        alt="avatar"
      />
      <img
        *ngIf="data.student.gender == gender.FEMALE"
        src="assets/images/avatar_female.jpg"
        alt="avatar"
      />
    </div>
  </div>
  <div class="card__content">
    <div class="card__name">{{ data.student.name }}</div>
    <div class="card__account">
      <i>( {{ data.student.account }} )</i>
    </div>
    <div class="card__date" *ngIf="data.student.dob">
      {{ toDobDisplay(data.student.dob) }}
    </div>
    <div class="card__email">{{ data.student.email }}</div>
    <div class="card__gender">
      {{ data.student.gender === gender.MALE ? "Nam" : "Nữ" }}
    </div>
    <div class="card__address">{{ data.student.address }}</div>
  </div>
  <div class="list__active">
    <button mat-button color="primary" (click)="saved()">Save</button>
    <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  </div>
</div>
