<div class="user__list">
  <div class="list__avatar">
    <div class="list__img">
      <img
        *ngIf="data.gender == gender.MALE"
        src="assets/images/avatar_male.png"
        alt="avatar"
      />
      <img
        *ngIf="data.gender == gender.FEMALE"
        src="assets/images/avatar_female.jpg"
        alt="avatar"
      />
    </div>
    <div>
      <div class="list__name">{{ data.name }}</div>
      <div class="list__account">{{ data.account }}</div>
    </div>
  </div>
  <div class="list__email">{{ data.email }}</div>
  <div class="list__date">{{ toDobDisplay(data.dob) }}</div>
  <div class="list__gender">
    {{ data.gender === gender.MALE ? "Nam" : "Nữ" }}
  </div>
  <div class="list__address">{{ data.address }}</div>
  <div class="list__active">
    <button mat-button color="primary" (click)="toEdit(data.id)">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-button color="warn" (click)="toRemove(data.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
